# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Local development
*.env
*.dev
.env.local
.env.*.local
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
docs/gradle-getting-started
docs/tmp
.vscode/
